/* diplay comander */

.div__crew-comander{
    display: block;
}

/*Display Engineer*/

.div__crew-engineer{
    display: none;
}

/*Display Pilot*/

.div__crew-pilot{
    display: none;
}

/*Display Specialist*/

.div__crew-specialist{
    display: none;
}

/*-------------------------Configuracion Geral----------------------------------------*/
body{
    background-image: url(assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}
.div__geral > h1 {
    position: absolute;
    left: 10%;
    top: 10%;
}
.div__geral{
    position: relative;
    border: 1px solid ;
}
.div__img{
    float: right;
    width: 45%;
    border: 1px solid;
}
.div__img > img {
    margin-top: 30px;
    width:clamp(400px,80%,500px) 
}
.div__info{
    margin-top: 150px;
    border: 1px solid;
    height: 100%;
    width: 54%;
}
.div__info > .info{
    width: 70%;
    margin: auto;
}
.div__info > .info > h2{
    font-style: italic;
    font-size: 1.5em;
}
.info .infoName {
    margin:10px 0;
    font-size: 4em;
}
.info > p {
    width: 80%;
    line-height: 1.5em;
    text-align:justify;
}

.div__button{
    margin-top: 60px;
}
.div__button > button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.441);
}