@media screen and (max-width:600px){
    *{
        margin: 0%;
        padding: 0%;
    }
    header .boloDinamic{
        padding-top: 15px;
        margin: 15px 0 0 15px;
    }
    
    nav{
       position: absolute;
       width: 97vw;
       top: -320px;
       display: flex;
       flex-direction: column;
        backdrop-filter:blur(6px);
       text-align: center;
       z-index: 1;
    }
    nav i {
        position: absolute;
        top: 110%;
        left: 80%;
    }
    nav:hover{
        position: absolute;
        top:0%;
        transition: 1s all;
    
    }
    
    nav > a{
        text-decoration: none;
        margin: 30px;
        color: rgba(255, 255, 255, 0.884);
    }
    nav a > strong {
        display: none;
    }
    
    nav a:hover{
        border-bottom: 1px solid white;
        color: white;
    }
    /* --------------Estilo de footer--------------- */
    footer{
        color: rgba(255, 255, 255, 0.304);
        font-size: 0.7em;
        margin-top: 10px;
        text-align: center;
    }
    footer a{
        text-decoration: none;
        color: white;
    }
}


@media screen and (min-width:700px) and (max-width:1400px){
*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 100vw;
    color: white;
    background-image: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    width: 100%;
    min-height: 20vh;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: right;
    margin: 30px;
    width: 55%;
    min-width: 600px;
    height: 60px;
    backdrop-filter:blur(6px);
    background-color: rgba(128, 128, 128, 0.084);
    /* background-color: rgba(128, 128, 128, 0.379); */
}
nav i{
    display: none;
}
nav > a{
    text-align: center;
    min-width: 20%;
    margin: auto 10px;
    padding: 20px 0;
    color: hsla(0, 0%, 100%, 0.632);
    justify-items: space-between;
    text-decoration: none;
}
nav a:hover{
    border-bottom: 1px solid white;
    color: white;
}
nav a > strong{
    color: white;
}
.boloDinamic{
    display: flex;
    position:absolute;
    width: 50%;
    min-width: 10px;
    height:17vh;
}
#bola{
    position: absolute;
    top:30px;
    left: 40px;
    width: 50px;
    z-index: 1;
}
#line{
    background-color: hsla(0, 0%, 100%, 0.30);
    width: 30vw;
    height: 1px;
    margin: auto;
}

/* -------------estilo de footer---------------- */

footer{
    text-align: center;
    margin: 5px;
     font-size: 0.8em;
    color: rgba(255, 255, 255, 0.358);
}
footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
}