*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    width: 100vw;
    color: white;
    background-image: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    min-width: 100vw;
    min-height: 20vh;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: right;
    margin: 30px;
    width: 55%;
    min-width: 600px;
    height: 60px;
    backdrop-filter:blur(6px);
    background-color: rgba(128, 128, 128, 0.084);
    
}
nav > a{
    text-align: center;
    min-width: 20%;
    margin: auto 10px;
    padding: 20px 0;
    color: hsla(0, 0%, 100%, 0.632);
    justify-items: space-between;
    text-decoration: none;
}
nav a:hover{
    border-bottom: 1px solid white;
    color: white;
}
nav a > strong{
    color: white;
}
.boloDinamic{
    display: flex;
    position:absolute;
    width: 50%;
    min-width: 10px;
    height:17vh;
}
#bola{
    position: absolute;
    top:30px;
    left: 40px;
    z-index: 1;
}
#line{
    background-color: hsla(0, 0%, 100%, 0.30);
    width: 30vw;
    height: 1px;
    margin: auto;
}
main{
    width:99vw;
    min-height: 76vh;
}
.div__space{
    position: relative;
    display: inline-block;
    width: 60vw;
    min-width: 370px;
    height: 76vh;
}
.space{
    position: absolute;
    left: 25%;
    top: 20%;
    width:380px;
    margin: auto;
    text-align: justify;
}
.space >h1{
    font-size: 7.5em;
    padding: 20px 0 30px 0;

}
.space > h2, .space > p{
    color: rgba(255, 255, 255, 0.614);
}
.div__explore{
    position: relative;
    float: right;
    width:39%;
    height: 76vh;
}
.explore{
    position: absolute;
    top: 45%;
    left: 30%;
    display: flex;
    background-color: white;
    color: black;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: none;
}
.explore > p{
    margin: auto;
    font-size: 2.5em;
}
footer{
    text-align: center;
    margin: 5px;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.358);
}
footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}