@media screen and (max-width:1000px) {
    body{
        background-image: url(/assets/crew/background-crew-mobile.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        color: white;
        width: 100%;
        height: 98vh;
    }
    .geral{
        text-align: center;
    }
    .geral h1 > strong{
        display: none;
    }
    .div__info{
        margin-top: 28px;

    }
    .div__info .info{ 
         width: 100%;
    }
    .info > h2{
        margin: 10px 0 ;
        color: rgba(255, 255, 255, 0.803);
    }
    .info .infoName{
        margin: 8px 0;
        font-size: 2em;
    }
    .info > p{
        padding: 5px 30px;
        margin: 5px 0;
        color: rgba(255, 255, 255, 0.803);
    }
    .div__img{
        margin-top: 20px;
        border-bottom: 1px solid white;
        /* box-shadow:  1px  0 10px rgba(255, 255, 255, 0.505); */
    }
    .div__img #imgSpecial{
        width: clamp(200px, 60%, 400px);
        filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.393));
    }
    .div__img #imgComander{
        width: clamp(200px, 70%, 400px);
    }
    .div__img #imgEnginner{
        width: clamp(200px, 80%, 400px); 
    }
    .div__img #imgPilot{
        width: clamp(200px, 70%, 400px); 

    }
   

    .div__button{
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 30px;
        left: 10%;
        bottom: 40%;
        transform: translate(-50%);
        z-index: 3;
    }
    .div__button > button{
        cursor: pointer;
        margin: 10px 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: none;
        background-color: rgba(255, 255, 255, 0.427);
    }
    .cursout{
        position: fixed;
        top: 0%;
        background-color: white;
        width:20%;
        height: 100%;
        opacity: 0;
        z-index: 2;
    }
    .outLeft{
        left: 0%;
    }
    .outRigth{
        right: 0%;
    }
    footer{
        display:none;
    }

/* diplay comander */

.div__crew-comander{
    display:none;
}

/*Display Engineer*/

.div__crew-engineer{
    display:none;
}

/*Display Pilot*/

.div__crew-pilot{
    display:none;
}

/*Display Specialist*/

.div__crew-specialist{
    display:block;
}
}
@media screen and (min-width:450px) {
    .div__button{
        bottom: 15%;
    }
}