@media screen and (max-width:1000px) {
*{
    margin: o;
    padding: 0;
}
body{
    background-image:url(./assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-position: center ;
    width: 95vw;
    min-height: 95vh;
    color: white;
}
header{
    height: 10vh;
}
header .boloDinamic{
    padding-top: 10px;
    margin: 15px 0 0 15px;
}

nav{
   position: fixed;
   width: 100%;
   top: -320px;
   left: 50%;
   transform: translate(-50%);
   display: flex;
   flex-direction: column;
    backdrop-filter:blur(6px);
   text-align: center;
}
nav #cierre{
    display: none;
}
nav #open{
    display: block;
}
nav i {
    position: absolute;
    top: 110%;
    left: 90%;
}
nav:hover{
    position: fixed;
    top:0%;
    transition: 1s all;

}

nav > a{
    text-decoration: none;
    margin: 30px;
    color: rgba(255, 255, 255, 0.884);
}
nav a > strong {
    display: none;
}

nav a:hover{
    border-bottom: 1px solid white;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
}
.div__space{
    height: 46%;
}
.div__space .space{
    text-align: center;
    margin: auto;
}
.space h2{
    margin-top: 30px;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.578);
}
.space h1{
    margin: 0;
    font-size: 5em;
    font-weight: lighter;
}
.space p{
    width: 80%;
    padding-top: 10px;
    margin: 20px auto;
    color: rgba(255, 255, 255, 0.578);
}
.div__explore{
    display: flex;
    height: 43vh;
}
.div__explore > .explore{
    margin: auto;
    background-color: white;
    color: black;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: none;
}
.explore:hover{
    width: 250px ;
    height: 250px;
    border-radius: 100%;
    border: none;
    transition: 1s all;
}
.explore > p{
    margin: auto;
    font-size: 2em;
}
footer{
    color: rgba(255, 255, 255, 0.304);
    font-size: 0.7em;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
}
}