@media screen and (max-width:1000px) {
    body{
        background-image: url(/assets/crew/background-crew-mobile.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        color: white;
        width: 100vw;
        height: 98vh;
    }
    .geral{
        text-align: center;
    }
    .geral h1 > strong{
        display: none;
    }
    .div__info{
        margin-top: 28px;

    }
    .div__info .info{ 
         width: 100%;
    }
    .info > h2{
        margin: 10px 0 ;
        color: rgba(255, 255, 255, 0.803);
    }
    .info .infoName{
        margin: 8px 0;
        font-size: 2.5em;
    }
    .info > p{
        padding: 5px 30px;
        margin: 5px 0;
        color: rgba(255, 255, 255, 0.803);
    }
    .div__img{
        margin-top: 20px;
       box-shadow: 1px 0 10px  rgba(255, 255, 255, 0.968);
    }
    .div__img img{
        width: clamp(200px, 80%, 400px);
        filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.393));
    }
    .div__button{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .div__button > button{
        width: 10px;
        height: 10px;
        margin: 0 10px;
        border-radius: 50%;
        border: none;
        background-color: rgba(255, 255, 255, 0.626);
    }
    footer{
        display:none;
    }

/* diplay comander */

.div__crew-comander{
    display:none;
}

/*Display Engineer*/

.div__crew-engineer{
    display: block;
}

/*Display Pilot*/

.div__crew-pilot{
    display: none;
}

/*Display Specialist*/

.div__crew-specialist{
    display: none;
}
}